{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react"
  ],
  "plugins": [

    "react-hot-loader/babel",
    [
      "transform-imports",
      {
        "dudys": {
          "transform": "dudys/lib/Library/${member}",
          "preventFullImport": true
        }
      }
    ],
    "transform-decorators-legacy"
  ]
}
