*
    padding 0
    margin 0

span
p
tr
td
div
li
a
    font-size 14Px

@import "function/def_v.styl"

@import "mixin/flex.mixin.styl"
@import "mixin/border.mixin.styl"
@import "mixin/block.mixin.styl"

@import "component/action-panel.styl"

@import "screen/dev-panel.styl"
@import "screen/page1.styl"