action-panel(clsWrapper, clsItem)
    {clsWrapper}
        position: fixed
        bottom 0
        width 100%
        border-top-one-px()
        {clsItem} 
            cc()
            height 40Px
            border-bottom-one-px()